// Logo images for twitter and linkedin
//
// Styles for managing the structural hierarchy of the site.

img.logo-large {
  display: inline;
  width: 40px;
  height: 40px;
  background-color: #ffffff;

}
img.linkedin{
//  float: right
}
img.twitter {
  // margin-left: 50px
}

img.logo-small {
  display: inline;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin: 0 0 0 0;

}

img.me {
  float:right;
  width: 100px;
  margin-left:30px;

}





