// Logo images for twitter and linkedin
//
// Styles for managing the structural hierarchy of the site.

img.twitter {
 width: 20px;
  height: 20px;
  margin-right: 10px;
  float: right;
}
img.linkdin {
  width: 20px;
  height: 15px;
  float: right;
}


